{% extends 'main/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">About PhoenixMart</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula ligula a lorem consequat, et fermentum lorem viverra. Maecenas sollicitudin tortor a magna egestas, at sollicitudin mauris congue. Donec posuere tincidunt pharetra.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula ligula a lorem consequat, et fermentum lorem viverra. Maecenas sollicitudin tortor a magna egestas, at sollicitudin mauris congue. Donec posuere tincidunt pharetra. Sed ultrices, nunc nec malesuada lobortis, diam turpis lobortis turpis, in vulputate sapien mauris eu lacus.</p>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam et erat at est mattis tristique. Mauris fringilla arcu in sem elementum malesuada. Sed eget elit ut ex dignissim aliquet. Integer a mi eget libero suscipit laoreet.</p>
    </div>
{% endblock %}
