{% extends 'main/base.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}
  <!-- Hero Section Begin -->
  {% include 'base/hero.html' %}
  <!-- Hero Section End -->

 <!-- Categories Section Begin -->
 {% include 'base/categories.html' %}
  <!-- Categories Section End -->

 <!-- Featured Section Begin -->
 {% include 'base/featured.html' %}
  <!-- Featured Section End -->

 <!-- Banner Begin -->
 {% include 'base/banner.html' %}
  <!-- Banner End -->

 <!-- Latest Product Section Begin -->
 {% include 'base/latest.html' %}
  <!-- Latest Product Section End -->

 <!-- Blog Section Begin -->
 {% include 'base/blog_section.html' %}
  <!-- Blog Section End -->
{% endblock %}