{% extends 'main/base.html' %}

{% block title %}Terms of Use{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Terms of Use</h2>

        <div>
            <h3 class="mb-4 text-lg font-semibold">Acceptance of Terms</h3>
            <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu justo turpis. Aliquam vel fermentum felis. Nulla facilisi.</p>
        </div>

        <div class="mt-8">
            <h3 class="mb-4 text-lg font-semibold">User Conduct</h3>
            <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu justo turpis. Aliquam vel fermentum felis. Nulla facilisi.</p>
        </div>

        <div class="mt-8">
            <h3 class="mb-4 text-lg font-semibold">Intellectual Property Rights</h3>
            <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu justo turpis. Aliquam vel fermentum felis. Nulla facilisi.</p>
        </div>

        <div class="mt-8">
            <h3 class="mb-4 text-lg font-semibold">Disclaimer of Warranty</h3>
            <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu justo turpis. Aliquam vel fermentum felis. Nulla facilisi.</p>
        </div>

        <div class="mt-8">
            <h3 class="mb-4 text-lg font-semibold">Limitation of Liability</h3>
            <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu justo turpis. Aliquam vel fermentum felis. Nulla facilisi.</p>
        </div>

        <div class="mt-8">
            <h3 class="mb-4 text-lg font-semibold">Indemnification</h3>
            <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu justo turpis. Aliquam vel fermentum felis. Nulla facilisi.</p>
        </div>

        <div class="mt-8">
            <h3 class="mb-4 text-lg font-semibold">Governing Law</h3>
            <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu justo turpis. Aliquam vel fermentum felis. Nulla facilisi.</p>
        </div>
    </div>
{% endblock %}
